#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:

php:
    date.timezone: Europe/Prague
    zlib.output_compression: yes

application:
    errorPresenter: Error
    mapping:
        *: App\*Module\*Presenter
session:
    expiration: 14 days

services:
    - App\Model\Users\Manager\UserManager
    - App\RouterFactory
    - App\Model\Currency\Manager\CurrencyManager
    - App\Model\Email\Manager\EmailManager
    - App\Model\Language\Manager\LanguageManager
    - App\Model\EmailTemplate\Manager\EmailTemplateManager
    - App\Model\Categories\Manager\CategoriesManager
    - App\Model\Units\Manager\UnitsManager
    - App\Model\Settings\Manager\SettingManager
    - App\Model\Types\Manager\TypesManager
    - App\Model\Seniority\Manager\SeniorityManager
    - App\Model\Flexibility\Manager\FlexibilityManager
    - App\Model\Jobs\Manager\JobsManager
    - App\ePro\AwsWrapper
    - App\ePro\Authenticator
    - App\Model\ProjectArea\Manager\ProjectAreaManager
    - App\Model\JobsReaction\Manager\JobsReactionManager
    - App\Model\Workflow\Manager\WorkflowManager
    - App\Model\Documents\Manager\DocumentsManager
    - App\Model\Partners\Manager\PartnersManager
    - App\Model\Notification\Manager\NotificationManager
    - App\Model\Bids\Manager\BidsManager
    - App\Model\BidsReaction\Manager\BidsReactionManager
    - App\Model\NotificationItem\Manager\NotificationItemManager
    - App\Countries
    - App\ePro\RabbitWrapper

    - App\Model\Users\Storage\Doctrine\UsersDao(@doctrine.dao(App\Model\Users\Entity\Users))
    - App\Model\Language\Storage\Doctrine\LanguageDao(@doctrine.dao(App\Model\Language\Entity\Language))
    - App\Model\EmailTemplate\Storage\Doctrine\EmailTemplatesDao(@doctrine.dao(App\Model\EmailTemplate\Entity\EmailTemplates))
    - App\Model\Email\Storage\Doctrine\EmailDao(@doctrine.dao(App\Model\Email\Entity\Email))
    - App\Model\Categories\Storage\Doctrine\CategoriesDao(@doctrine.dao(App\Model\Categories\Entity\Categories))
    - App\Model\Units\Storage\Doctrine\UnitsDao(@doctrine.dao(App\Model\Units\Entity\Units))
    - App\Model\Settings\Storage\Doctrine\SettingsDao(@doctrine.dao(App\Model\Settings\Entity\Settings))
    - App\Model\Types\Storage\Doctrine\TypesDao(@doctrine.dao(App\Model\Types\Entity\Types))
    - App\Model\Seniority\Storage\Doctrine\SeniorityDao(@doctrine.dao(App\Model\Seniority\Entity\Seniority))
    - App\Model\Flexibility\Storage\Doctrine\FlexibilityDao(@doctrine.dao(App\Model\Flexibility\Entity\Flexibility))
    - App\Model\Jobs\Storage\Doctrine\JobsDao(@doctrine.dao(App\Model\Jobs\Entity\Jobs))
    - App\Model\Currency\Storage\Doctrine\CurrencyDao(@doctrine.dao(App\Model\Currency\Entity\Currency))
    - App\Model\ProjectArea\Storage\Doctrine\ProjectAreaDao(@doctrine.dao(App\Model\ProjectArea\Entity\ProjectArea))
    - App\Model\JobsReaction\Storage\Doctrine\JobsReactionDao(@doctrine.dao(App\Model\JobsReaction\Entity\JobsReaction))
    - App\Model\Workflow\Storage\Doctrine\WorkflowDao(@doctrine.dao(App\Model\Workflow\Entity\Workflow))
    - App\Model\Documents\Storage\Doctrine\DocumentsDao(@doctrine.dao(App\Model\Documents\Entity\Documents))
    - App\Model\Partners\Storage\Doctrine\PartnersDao(@doctrine.dao(App\Model\Partners\Entity\Partners))
    - App\Model\Notification\Storage\Doctrine\NotificationDao(@doctrine.dao(App\Model\Notification\Entity\Notification))
    - App\Model\Bids\Storage\Doctrine\BidsDao(@doctrine.dao(App\Model\Bids\Entity\Bids))
    - App\Model\BidsReaction\Storage\Doctrine\BidsReactionDao(@doctrine.dao(App\Model\BidsReaction\Entity\BidsReaction))
    - App\Model\NotificationItem\Storage\Doctrine\NotificationItemDao(@doctrine.dao(App\Model\NotificationItem\Entity\NotificationItem))

    router: @App\RouterFactory::createRouter

    email:
        class: App\Email
        tags: [kdyby.console.command]

    defaultEntities:
        class: App\DefaultEntities
        tags: [kdyby.console.command]

    setOverview:
        class: App\SetOverview
        tags: [kdyby.console.command]
        
    logRotate:
        class: App\LogRotate
        tags: [kdyby.console.command]

    emailNotificationDaily:
        class: App\EmailNotificationDaily
        tags: [kdyby.console.command]

    emailNotificationWeekly:
        class: App\EmailNotificationWeekly
        tags: [kdyby.console.command]

    emailNotificationImmediately:
        class: App\EmailNotificationImmediately
        tags: [kdyby.console.command]
    
    HistoryListener:
        class: App\ePro\Events\HistoryListener
        tags: [kdyby.subscriber]

    DuplicateCheckerListener:
        class: App\ePro\Events\DuplicateCheckerListener
        tags: [kdyby.subscriber]
    
    NotificationListener:
        class: App\ePro\Events\NotificationListener
        tags: [kdyby.subscriber]

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    restful: Drahak\Restful\DI\RestfulExtension
    rabbitmq: Kdyby\RabbitMq\DI\RabbitMqExtension

doctrine:
    host: localhost
    user: root
    password: '******'
    dbname: doctrine
    metadata:
        App\Model: annotations(%appDir%/libs/ePro/Model)
tracy:
    email: "ales.jandera@gmail.com"

restful:
    convention: 'snake_case'
    cacheDir: '%tempDir%/cache'
    jsonpKey: 'jsonp'
    prettyPrintKey: 'pretty'
    routes:
        generateAtStart: false
        prefix: 'v2'
        module: 'Api'
        autoGenerated: true
        panel: true
    security:
        privateKey: 'jkfhsdjkf24sdlfkj'
        requestTimeKey: 'timestamp'
        requestTimeout: 300
