<!-- start: SECTION 1 -->
<div id="section-1" ng-controller="JobsListCtrl">
    <section class="container-fluid container-fullw padding-bottom-30 section-features">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2 col-md-8 col-sm-8 col-md-offset-0 col-sm-offset-0">
                    <h2>Active Jobs</h2>
                    <hr>
                    <p class="margin-bottom-30"></p>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/ng-template" id="side.html">
    <div class="modal-header">
        <h3 class="modal-title" translate="front.side">Side</h3>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">

    </div>
</script>
