<!-- start: BREADCRUMB -->
<div class="breadcrumb-wrapper">
    <h4 class="mainTitle no-margin" translate="profile.info">Your profile</h4>
    <span class="mainDescription" translate="profile.description">Change your personal info or password.</span>
    <div ncy-breadcrumb class="pull-right"></div>
</div>
<!-- end: BREADCRUMB -->
<div ng-controller="ProfileCtrl">
    <div class="preloader" ng-if="loader === true"></div>
    <div class="container-fluid container-fullw padding-bottom-10" ng-if="loader === false">
        <!-- start: DASHBOARD -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel">
                                    <div class="panel-body">
                                        <div class="row margin-bottom-30">
                                            <div class="col-md-12" ng-if="flashMessage">
                                                <p class="alert alert-{{ flashMessage.class }}">{{ flashMessage.text }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-9">
                                                <h3>{{ securityInfo.name }}</h3>
                                            </div>
                                            <form ng-submit="savePersonalInfo()">
                                                <div class="col-xs-12 col-sm-6">
                                                    <label translate="profile.name" class="margin-top-15">Name</label>
                                                    <input type="text" ng-model="personal.name" class="form-control">
                                                </div>
                                                <div class="col-xs-12 col-sm-6">
                                                    <label translate="profile.surname" class="margin-top-15">Surname</label>
                                                    <input type="text" ng-model="personal.surname" class="form-control">
                                                </div>
                                                <div class="col-xs-12 col-sm-6">
                                                    <label translate="profile.email" class="margin-top-15">Email</label>
                                                    <input type="email" ng-model="personal.username" class="form-control" readonly>
                                                </div>
                                                <div class="col-xs-12 col-sm-6">
                                                    <label translate="profile.phone" class="margin-top-15">Phone</label> <span ng-if="phoneFail == true" translate="partners.badPhone" class="error">Only Numbers are allowed</span>
                                                    <phone-number output-model="personal.phone" validate-fn="" output-validate="phoneFail"></phone-number>
                                                </div>
                                                <div class="col-xs-12 col-sm-6">
                                                    <label translate="profile.smtpUrl" class="margin-top-15">Smtp url</label>
                                                    <input type="text" ng-model="personal.smtpUrl" class="form-control">
                                                </div>
                                                <div class="col-xs-12 col-sm-6">
                                                    <label translate="profile.smtpPort" class="margin-top-15">Smtp port</label>
                                                    <input type="text" ng-model="personal.smtpPort" class="form-control">
                                                </div>
                                                <div class="col-xs-12 col-sm-6">
                                                    <label translate="profile.smtpUser" class="margin-top-15">Smtp user</label>
                                                    <input type="text" ng-model="personal.smtpUser" class="form-control">
                                                </div>
                                                <div class="col-xs-12 col-sm-6">
                                                    <label translate="profile.smtpPassword" class="margin-top-15">Smtp password</label>
                                                    <input type="password" ng-model="personal.smtpPassword" class="form-control">
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="checkbox clip-check check-primary checkbox-inline">
                                                        <input type="checkbox" ng-model="personal.notifications.job_partner" id="notification1">
                                                        <label for="notification1" translate="profile.notifications.job.create.partner" class="margin-top-15">Send a notification when partner create a new job</label>
                                                    </div>
                                                    <br>
                                                    <div class="checkbox clip-check check-primary checkbox-inline">
                                                        <input type="checkbox" ng-model="personal.notifications.job_operator" id="notification2">
                                                        <label for="notification2" translate="profile.notifications.job.create.operator" class="margin-top-15">Send a notification when operator create a new job</label>
                                                    </div>
                                                    <br>
                                                    <div class="checkbox clip-check check-primary checkbox-inline">
                                                        <input type="checkbox" ng-model="personal.notifications.job_update_partner" id="notification3">
                                                        <label for="notification3" translate="profile.notifications.job.update.partner" class="margin-top-15">Send a notification when partner update an existing job</label>
                                                    </div>
                                                    <br>
                                                    <div class="checkbox clip-check check-primary checkbox-inline">
                                                        <input type="checkbox" ng-model="personal.notifications.job_update_operator" id="notification4">
                                                        <label for="notification4" translate="profile.notifications.job.update.operator" class="margin-top-15">Send a notification when operator update an existing job</label>
                                                    </div>
                                                    <br>
                                                    <div class="checkbox clip-check check-primary checkbox-inline">
                                                        <input type="checkbox" ng-model="personal.notifications.job_reaction" id="notification5">
                                                        <label for="notification5" translate="profile.notifications.job.reaction" class="margin-top-15">Send a notification when a job reactions created</label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6">
                                                    <label translate="profile.signature" class="margin-top-15">Signature</label>
                                                    <summernote height="300" ng-model="personal.signature"></summernote>
                                                </div>
                                                <div class="col-xs-12 text-right margin-top-10">
                                                    <button type="submit" class="btn btn-primary" translate="profile.saveProfile">Save Profile</button>
                                                    <div class="btn btn-defautt" translate="profile.testSmtp" ng-click="smtpTest()">Test Smtp</div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="row" style="margin-top: 20px">
                                            <div class="col-xs-12">
                                                <h3 translate="profile.changePassword">Change Password</h3>
                                            </div>
                                            <form>
                                                <div class="col-xs-12">
                                                    <label translate="profile.password" class="margin-top-15">Password</label> <span ng-if="personal.password.length < 5" translate="users.passwordToShot" class="error" >Minimal length is 5 </span>
                                                    <input type="password" ng-model="personal.password" class="form-control">
                                                </div>
                                                <div class="col-xs-12">
                                                    <label translate="profile.passwordCheck" class="margin-top-15">Password Check</label> <span ng-if="personal.password !== personal.passwordCheck" translate="users.passwordNotSame" class="error" >is not same </span>
                                                    <input type="password" ng-model="personal.passwordCheck" class="form-control">
                                                </div>
                                                <div class="col-xs-12 text-right margin-top-10">
                                                    <button ng-disabled="personal.password < 5 || personal.password !== personal.passwordCheck" ng-click="changePassword()" class="btn btn-primary" translate="profile.changePassword">Change Password</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- end: DASHBOARD -->
