<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
    <span translate="sidebar.heading.NAVIGATION">Main Navigation</span>
</div>
<ul class="main-navigation-menu">
    <li ui-sref-active="active">
        <a ui-sref="front.home">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-list"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.dashboard.FRONT"> Web front </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.categories">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-calendar"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.categories.MAIN"> Categories </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.cms">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-user"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.cms.MAIN"> Cms </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.users">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-user"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.users.MAIN"> Users </span>
                </div>
            </div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.documents">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-file"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.documents.MAIN"> Documents </span>
                </div>
            </div>
        </a>
    </li>
</ul>
<!-- end: MAIN NAVIGATION MENU -->
